<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="nl"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="nl"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="nl"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="nl"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="nl"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="{global:base_url}" />
    <title>Star Wars Stories</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Default Link -->
    <link href="public/css/theme.20150807.css" rel="stylesheet" type="text/css" >
    <link href="humans.txt" rel="author" type="text/plain" >
    <link href="public/gfx/favicon.ico" rel="shortcut icon" >
    <link href="public/gfx/apple-touch-icon.png" rel="apple-touch-icon-precomposed" >

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

    <!-- Default Javascript -->
    <script type="text/javascript" src="public/lib/modernizr-shim/modernizr.min.20131002.js"></script>
</head>
<body>
    <div class="wrapper arrange">
        <header class="header arrange__size-fit" style="width: 240px;">
            <a href="" class="logo" >
                TODO: LOGO
            </a>
        </header>

        <nav class="m-menu-main">
            menu
        </nav>

        <section class="layer layer--main arrange__size-fill">
            {exp:stash:layout_content}
        </section>

        <footer>
            <div class="site-width">
                footer
            </div>
        </footer>

    </div>
</body>