/*----------------------------------------------------------------------------*\
    $MENUMAIN
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .nav-toggle{}

    .nav-toggle--input{
        display: none;
    }

    .nav-toggle--input--0:checked ~ .wrapper .nav-toggle--label--0,
    .nav-toggle--input--1:checked ~ .wrapper .nav-toggle--label--1{
        opacity: 0;
        pointer-events: none;
    }

    .nav-toggle--input--1:checked ~ .wrapper .m-menu-main{
        @include prefixer(transform, translate(0, 0), webit spec);
    }

    .nav-toggle--label{
        color: #333;
        @include prefixer(transition, opacity .3s ease, webkit spec);
    }

    .nav-toggle--label--0{
        position: fixed;
        z-index: 2;
        background: #666;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .m-menu-main{
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        background: #000;
        @include rem(max-width, 240px);
        @include prefixer(transform, translate(-100%, 0), webit spec);
        @include prefixer(transition, (transform .3s ease, -webkit-transform .3s ease), webkit spec);

        ul{
            @extend .nav;
            @extend .nav--stacked;
        }

            li{
                position: relative;
            }

                a{
                    @extend .islet;
                    @extend .flatten;
                    color: #FFF;
                    text-decoration: none;

                    &:hover{
                        outline: 1px solid rgba(#FFF, .25);
                    }
                }


    }



/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(gt-desk){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(lt-desk){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(gt-palm){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/