{!-- {stash:embed:layout:index} --}

{exp:stash:embed:movies_partials:user stash:user_member_id="{logged_in_member_id}"}

{exp:stash:set parse_conditionals="yes"}
    {if '{segment_3}' == 'title'}
        {stash:movie_order}title{/stash:movie_order}
    {if:elseif '{segment_3}' == 'timeline'}
        {stash:movie_order}movie_timeline{/stash:movie_order}
    {if:else}
        {stash:movie_order}movie_release{/stash:movie_order}
    {/if}
{/exp:stash:set}

{exp:stash:layout_content}
    overview!

    order by <a href="{segment_1}">release</a> | <a href="{segment_1}/order/timeline">timeline</a> | <a href="{segment_1}/order/title">title</a>

    <br><br>

    ({stash:movie_order})
    <ul>
    {exp:channel:entries
        channel="movie"
        dynamic="no"
        orderby="{stash:movie_order}"
        sort="asc"
    }
        <li>
            <a href="{segment_1}/{url_title}">
                {if movie_title}
                    {movie_title}
                {if:else}
                    {title}
                {/if}
                [{movie_timeline}]

                ({movie_release format="%Y"})
            </a>
        </li>
    {/exp:channel:entries}
    </ul>
{/exp:stash:layout_content}