/*----------------------------------------------------------------------------*\
    $HEADER
    top of page
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .header{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        // overflow: hidden;
        @include rem(height, $header-palm*$space);

        &:before{
            content: '';
            position: absolute;
            z-index: -1;
            display: block;
            bottom: -20px;
            left: 50%;
            border-radius: 50%;
            background: radial-gradient(
                circle closest-side,
                rgba(#FFF, .9) 98%,
                rgba(#FFF, 0) 100%
            );
            @include rem(width, 3020px);
            @include rem(height, 3020px);
            @include prefixer(transform, translateX(-50%), webkit spec);
        }

        &:after{
            content: '';
            position: absolute;
            z-index: 0;
            display: block;
            bottom: 0;
            left: 50%;
            border-radius: 50%;
            background: radial-gradient(
                circle closest-side,
                #FFA461 95%,
                #FFF 100%
            );
            @include rem(width, 3000px);
            @include rem(height, 3000px);
            @include prefixer(transform, translateX(-50%), webkit spec);
        }
    }

        .logo{
            // @include rem(height, $space*4);

            img{
                @include rem(width, $space*8);
            }
        }




/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(gt-desk){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(lt-desk){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(gt-palm){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/